name: Publish tag and release notes

on: 
  push:
    branches:
      - develop

jobs:
  tag_and_release:
    name: Create tag and publish release
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      # with:
      #   ref: main
    - name: Install JQ, specific to this repo
      shell: bash
      run: sudo apt-get install jq
    - name: Get version
      shell: bash
      run: echo "$(jq -r '.version' mock_build.json)" >> ENV["VERSION_TAG"]
    - name: Create tag
      uses: EndBug/latest-tag@latest
      with:
        ref: ENV["VERSION_TAG"]
    